:root {
    --basic-header-background-color: #FFFFFF;
    --second-color-background-color: #F5F4FA;
    --basic-footer-background-color: #2F303A;
    --main-text-color:#212121;
    --second-text-color:#757575;
    --white-text-color:#FFFFFF;
    --color-hover:#2196F3;
    --filter-background-color:#F5F4FA;
}

/* Глобальные стили */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
    margin: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--basic-header-background-color);
    color: var(--main-text-color);
}

.container {
    width: 1200px; /* Оригинал 1600px [Контент 1200px] */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: #757575 solid;  */
}

/* Шапка */


.footer-container {
    display:flex;
    align-items:center;
}

.container.footer-container {
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}

.header-navigation {
    display: flex;
    
}

.header-logo { /* В шапке и подвале */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
    text-decoration: none;

    margin: auto;
    margin-right: 33px;
    
    
}

.header-logo-web {
    color: #2196F3;
}

.header-navigation-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;

}

.header-navigation-list:nth-child(n+2){
    padding-left: 50px;
}

.nav {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
}

.active-page {
    color: var(--color-hover);
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--color-hover)
}
.header-contacts-list {
    display: flex;
    padding: 0;
    margin-left: 345px;
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts.indent {
    padding-left: 50px;
}

/* Основной блок */

.container.order {
display: block;
background-color: var(--basic-footer-background-color);

}

.main-order-h1 {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    padding-top: 200px ;
    margin: auto ;
}
.main-order-button {
    cursor: pointer;
    background: var(--color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    width: 216px;
    height: 50px;
    display:block;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border: 0;
}

.main-div-button {
    padding-bottom: 200px;
}

.style-list {
    list-style: none;
    padding-top: 94px;
    padding-bottom: 94px;

}

.style-list-work {
    list-style: none;
    padding-top: 50px;
    padding-bottom: 94px;
}

.style-list-work:nth-child(1n+2) {
    padding-left: 50px;
}

.main-batter-ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}



.main-better-h2,
.hidden-h1 {
    display: none;
}

.main-batter-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-batter-p { 
    color: var(--second-text-color);
    width: 270px;
}

.style-list:nth-child(n+2),
.style-list-personal:nth-child(n+2){
    margin-left:30px ;
}

.main-work-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
}


.main-people-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    margin: 0;
}

.main-work-list {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.main-people-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    justify-content: space-around
    
}

.style-list-personal {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    list-style: none;
    margin-bottom: 94px;

}


.container.people {
    background-color: var(--second-color-background-color);
}

.main-people-h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.main-people-p {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Подвал */

.container.footer {
    display: block;
    background-color: var(--basic-footer-background-color);
}

.footer-list {
    display: inline-block;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 60px;
}

.header-logo-footer {
    display: inline-block;
    margin-top: 60px ;
    color:var(--white-text-color)
}

.footer-list-map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    
}

.style-list-footer {
    list-style: none;

}

.footer-list-mail,
.footer-list-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.style-list-filter {
    list-style: none;
}

.link-filter {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--filter-background-color);
    border-radius: 4px;
    text-decoration: none;
}

.link-filter:hover,
.link-filter:focus,
.link-filter:active {
    background-color: var(--color-hover);
    color: var(--white-text-color)
}

.main-filter-list {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.style-list-filter:nth-child(n+2) {
    margin-left: 8px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 94px;
}

.style-work-list {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    list-style: none;
}

.style-work-list:nth-child(3n+2),
.style-work-list:nth-child(3n+3) {
    margin-left: 30px;

}

.style-work-list:nth-child(n+4) {
    margin-top: 30px;
}

.main-our-work-h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    padding-left: 24px;

}

.main-our-work-p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding-left: 24px;
    padding-bottom: 20px;
}