:root {
    --basic-header-background-color: #FFFFFF;
    --second-color-background-color: #F5F4FA;
    --basic-footer-background-color: #2F303A;
    --main-text-color:#212121;
    --second-text-color:#757575;
    --white-text-color:#FFFFFF;
    --color-hover:#2196F3;
    --filter-background-color:#F5F4FA;
}

/* Глобальные стили */

body {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--basic-header-background-color);
    color: var(--main-text-color);
}

.container {
  width: 1600px;
  outline: #757575 solid; 
}

/* Класовые стили */
/* Шапка */

.footer-container {
    display:flex;
    align-items:center;
}

.header-navigation {
    display: flex;
}

.header-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
    text-decoration: none;
    margin: auto;
    margin-left: 215px;
    
}

.header-logo-web {
    color: #2196F3;
}

.header-navigation-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;

}

.header-navigation-list:nth-child(n+2){
    padding-left: 50px;
}

.nav {
    color: var(--main-text-color);
}

.active-page {
    color: var(--color-hover);
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--color-hover)
}
.header-contacts-list {
    display: flex;
    padding: 0;
    margin-left: 345px;
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    list-style: none;
}

.contacts.indent {
    padding-left: 50px;
}

/* Основной блок */

.main-order {
    background-color: var(--basic-footer-background-color);
    width: 1600px;
    display: inline-block;
}

.main-order-h1 {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    padding-top: 200px ;
    margin: auto ;
}
.main-order-button {
    cursor: pointer;
    background: var(--color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    display:block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    
}

.style-list {
    list-style: none;
    padding-top: 95px;

}

.style-list-work {
    list-style: none;
    padding-top: 95px;
    padding-bottom: 95px;
}

.style-list-work:nth-child(1n+2) {
    padding-left: 50px;
}

.main-batter-ul {
    display: flex;
    padding: 0;
}

.style-list.first {
    margin-left: 215px;
}

.main-better-h2,
.hidden-h1 {
    display: none;
}

.main-batter-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-batter-p { 
    color: var(--second-text-color);
    width: 270px;
}

.style-list:nth-child(n+2){
    padding-left:30px ;
}

.main-work-h2,
.main-people-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 95px;
    margin: 0;
}

.main-work-list {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 215px;
}

.main-people-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 90px;
}

.main-people {
    background-color: var(--second-color-background-color);
}

.style-list.first {
    margin-left: 215px;
}

.main-people-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.main-people-p {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Подвал */
.footer {
    background-color: var(--basic-footer-background-color);
    width: 1600px;
}

.footer-list {
    display: inline-block;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 60px;
}

.header-logo-footer {
    display: inline-block;
    margin-top: 60px ;
    color:var(--white-text-color)
}

.footer-list-map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    
}

.style-list-footer {
    list-style: none;
    margin-left: 215px;
}

.footer-list-mail,
.footer-list-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio.html */
.filter {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--filter-background-color);
    border-radius: 4px;
}

.filter:hover,
.filter:focus,
.filter:active {
    background-color: var(--color-hover);
    color: var(--white-text-color)
}

.main-our-work-h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);

}

.main-our-work-p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}